body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Header Styles*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin-bottom: 80px;
  box-shadow: 0 8px 6px -6px rgb(33, 33, 33);
}

.nav-image {
  width: 130px;
  padding-right: 20px;
  margin-left: 20px;
}

.nav-items {
  list-style-type: none;
  display: flex;
  width: fit-content;
  justify-content: space-between;
  margin-right: 50px;
}

.nav-items li {
  padding: 10px;
  margin-left: 60px;
  font-size: 30px;
}
